#cloud-config
autoinstall:
  version: 1
  interactive-sections:
    - network
  apt:
    geoip: true
    preserve_sources_list: false
    primary:
      - arches: [amd64, i386]
        uri: http://be.archive.ubuntu.com/ubuntu
      - arches: [default]
        uri: http://ports.ubuntu.com/ubuntu-ports
    conf: |
      Acquire::Retries "5";
      Acquire::Queue-Mode "access";

  kernel: { package: linux-generic }
  keyboard: { layout: us, toggle: null, variant: "" }
  locale: en_US.UTF-8
  #proxy: http://192.168.0.4:3142
  storage:
    config:
      - ptable: gpt
        path: /dev/sda
        wipe: superblock-recursive
        preserve: false
        name: ""
        grub_device: false
        type: disk
        id: disk-sda

      - device: disk-sda
        flag: boot
        size: 1GB
        number: 1
        preserve: false
        grub_device: true
        type: partition
        id: partition-efi
        wipe: superblock
      - fstype: fat32
        id: format-efi
        preserver: false
        type: format
        volume: partition-efi
      - device: format-efi
        id: mount-efi
        path: /boot/efi
        type: mount

      - device: disk-sda
        size: 30GB
        wipe: superblock
        flag: ''
        number: 2
        preserve: false
        type: partition
        id: partition-2
        grub_device: false

      - name: coderdojo
        devices: [partition-2]
        preserve: false
        type: lvm_volgroup
        id: lvm_volgroup-0

      - name: root
        volgroup: lvm_volgroup-0
        size: 10GB
        wipe: superblock
        preserve: false
        type: lvm_partition
        id: lvm_partition-root
      - fstype: ext4
        volume: lvm_partition-root
        preserve: false
        type: format
        id: format-root
      - path: /
        device: format-root
        type: mount
        id: mount-root

      - name: var
        volgroup: lvm_volgroup-0
        size: 10GB
        wipe: superblock
        preserve: false
        type: lvm_partition
        id: lvm_partition-var
      - fstype: ext4
        volume: lvm_partition-var
        preserve: false
        type: format
        id: format-var
      - path: /var
        device: format-var
        type: mount
        id: mount-var

      - name: home
        volgroup: lvm_volgroup-0
        size: 5GB
        wipe: superblock
        preserve: false
        type: lvm_partition
        id: lvm_partition-home
      - fstype: ext4
        volume: lvm_partition-home
        preserve: false
        type: format
        id: format-home
      - path: /home
        device: format-home
        type: mount
        id: mount-home

  updates: security

  packages:
    - ruby
    - vim
    - git
    - network-manager

  late-commands:
    - growpart /dev/sda 2 && pvresize /dev/sda2 # Resize the primary partition
    - test -f /cdrom/nocloud/secrets.sh && bash /cdrom/nocloud/secrets.sh # Check for a secrets.sh file, and execute it
    - bash -x /cdrom/nocloud/deploy.sh # Run the main deploy script
    - "sed -i '/dhcp4:/a\\      optional: true' /target/etc/netplan/*.yaml" # Don't wait for network at boot

  identity:
    hostname: coderdojo
    password: "$6$XTj1xyhI$Ku8xdtmejyS0h/1wBIcLt8LBPoV2n7UBzKM7cCrQyd3CEyd.NeRrldfL05SHaQVGkgSopvDVt8fRX/6mbzuPL/"
    username: coderdojo

final_message: "CoderDojo image is ready"

power_state:
  mode: reboot
  message: Bye Bye
  timeout: 10
  condition: True
